#outer {
    border-style: solid;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
}

.specialdiv {
    border-style: dotted;
}

#containter {
    display: flex;
    justify-content: space-between;
}



.eqi-container {
    display: flex;
    justify-content: space-between;
}

    .eqi-container div {
        width: 200px;
        height: auto;
        padding: 20px;
    }




.specialdiv2 {
    width: 50px;
    height: 50px;
    /*display: inline-block;
	border-style: solid;*/
    /*padding: 20px;*/
    /*width: auto;*/
    /*width: 20%*/
}

.productImages {
    height: 100%;
    width: 100%;
}

.specialdiv4 {
    display: inline-block;
    border-style: solid;
    width: auto;
    height: auto;
}
