#outer {
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: center;
}

.specialdiv {
    border-style: dotted;
}

#containter {
    display: flex;
    justify-content: space-between;
}

#myDIV {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.checkboxImage {
    border-style: solid;
}

.eqi-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .eqi-container div {
        width: 100%;
        /*height: auto;*/
        padding: 20px;
    }


.imageDiv {
    width: 100%;
    height: 100%;
}

.productImages {
    width: 10px;
    height: 10%;
}

#buttonFilter {
    margin: 2%;
}


.specialdiv2 {
    width: 50px;
    height: 50px;
    /*display: inline-block;
	border-style: solid;*/
    /*padding: 20px;*/
    /*width: auto;*/
    /*width: 20%*/
}

.productImages {
    height: 100%;
    width: 100%;
}

.typesOfArticles {
    padding: 10px;
}

.priceOfArticles {
    padding: 10px;
}

.colorFilter {
    padding: 10px;
}

.applyFilters {
    margin-top: 5px
}

.specialdiv4 {
    display: inline;
    border-style: solid;
    width: 100%;
    height: auto;
}

/* custom checkboxes*/
.specialdiv4 {
    list-style-type: none;
}

li {
    display: inline;
}

input[type="checkbox"][id^="cb1"] {
    display: none;
}

input[type="checkbox"][id^="cb2"] {
    display: none;
}

input[type="checkbox"][id^="cb3"] {
    display: none;
}

input[type="checkbox"][id^="cb4"] {
    display: none;
}

input[type="checkbox"][id^="cb5"] {
    display: none;
}

input[type="checkbox"][id^="cb6"] {
    display: none;
}

label {
    border: 1px solid #fff;
    padding: 2px;
    display: inline;
    position: relative;
    margin: 2px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    label::before {
        background-color: white;
        color: white;
        content: " ";
        display: inline;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    label img {
        height: 20px;
        width: 20px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }
/*
:checked+label {
  border-color: #ddd;
}
*/
:checked + label::before {
    /*content: "✓";*/
    /*background-color: grey;
  transform: scale(1);*/
}

:checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 7px #000;
    z-index: -1;
}
