<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/teams.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/about.css" />
    <link rel="stylesheet" href="~/css/shoppingCart.css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://kit.fontawesome.com/678999c602.js" crossorigin="anonymous"></script>
</head>

<body>
    <a class="my-navbar-brand fixed-top" asp-controller="Home" asp-action="Index">
        <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" style="border-radius: 50%; width: 100%; height: 100%;" />
    </a>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top mr-auto" style="padding: 0;">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container-fluid justify-content-center">
                <div class="row">
                    <div class="col-auto">
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown active btn my-navbar-button">
                                    <a class="nav-link dropdown-toggle" href="#" id="teamsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Timovi
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="teamsDropdown">
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Seniors">Seniori</a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Juniors">Juniori</a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Cadets">Kadeti</a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="YoungCadets">Mlađi kadeti</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown active btn my-navbar-button">
                                    <a class="nav-link dropdown-toggle" href="#" id="schoolsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Škola košarke
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="schoolsDropdown">
                                        <a class="dropdown-item" asp-controller="Home" asp-action="MiniBasketball">Mini košarka</a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="SportSchools">Sportske škole</a>
                                    </div>
                                </li>

                                <li class="nav-item active btn my-navbar-button">
                                    <a class="nav-link" asp-controller="Home" asp-action="Gallery">
                                        Galerija
                                    </a>
                                </li>

                                <li class="nav-item active btn my-navbar-button">
                                    <a class="nav-link" asp-controller="Home" asp-action="About">
                                        O klubu
                                    </a>
                                </li>

                                <li class="nav-item active btn my-navbar-button">
                                    <a class="nav-link" asp-controller="Webshop" asp-action="WebshopStart">
                                        <i class="fas fa-shopping-bag" style="font-size: 20px; margin-right: 3px;"></i>
                                        Webshop
                                    </a>
                                </li>

                                <partial name="_LoginPartial" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top my-footer text-muted">
        <div class="container-fluid">
            <div class="row align-items-center text-center">
                <div class="col">
                    <h4>Košarkaški klub Rudeš</h4>
                    <p>Dragutina Freudenriecha 19</p>
                    <p>10000 Zagreb</p>
                    <p>Kontakt broj: 091 2542 354 (Danko Miholić)</p>
                </div>

                <div class="col">
                    <a href="https://www.instagram.com/kosarkaski_klub_rudes/"
                       class="mr-3"
                       target="_blank">
                        <img src="~/images/instagram-logo.png" width="70" />
                    </a>
                    <a href="https://www.facebook.com/kkrudes.basketball/"
                       class="mr-auto"
                       target="_blank">
                        <img src="~/images/facebook-logo.png" width="70" />
                    </a>

                    <div class="footer-copyright text-center pt-5">
                        © 2020 Copyright:
                        <a href="#">KK Rudeš</a>
                    </div>
                </div>

                <div class="col">
                    <h4 class="mb-3">Načini plaćanja</h4>
                    Maestro <img src="~/images/maestro-logo.png" width="60" /><br />
                    Visa <img src="~/images/visa-logo.png" width="60" /><br />
                    Mastercard <img src="~/images/mastercard-logo.png" width="60" /><br />
                </div>
            </div>
        </div>
    </footer>

    <partial name="_ShoppingCart" />

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
