<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - RudesWebapp</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/678999c602.js" crossorigin="anonymous"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container" id="navbar">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/rudes-logo.jpg" width="30" height="30" alt="Rudeš Logo" />
                </a>

                <a>
                    <div class="my-navbar-button">
                        Timovi
                    </div>
                </a>

                <a>
                    <div class="my-navbar-button">
                        Škola košarke
                    </div>
                </a>

                <a asp-controller="Home" asp-action="Media">
                    <div class="my-navbar-button">
                        Media
                    </div>
                </a>

                <a asp-controller="Home" asp-action="About">
                    <div class="my-navbar-button">
                        O klubu
                    </div>
                </a>

                <a asp-controller="Webshop" asp-action="WebshopStart">
                    <div>
                        <i class="fas fa-shopping-bag" style="font-size: 20px; margin-right: 3px;"></i> Webshop
                    </div>
                </a>

                <div v-if="!loggedIn" class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user" style="font-size: 20px; margin-right: 3px;"></i> Sign In
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @*<a class="dropdown-item" asp-controller="Home" asp-action="Login">Login</a>*@
                        <a class="dropdown-item" @@click="switchLoginStatus()">Login</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Register">Register</a>
                    </div>
                </div>

                <div v-else class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user" style="font-size: 20px; margin-right: 3px;"></i> {{dummyUsername}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Edit Profile</a>
                        <a class="dropdown-item" @@click="switchLoginStatus()">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position: static;">
        <div class="container">
            <div>
                <a>Kontakt</a>
            </div>
            <div>
                <a>Česta pitanja</a>
            </div>
            <div>
                <a>Opći uvjeti i odredbe</a>
            </div>
            <div>
                <a>Plaćanje i dostava</a>
            </div>
            <div>
                <a>Povrat i reklamacije</a>
            </div>
            <div>
                <img src="~/images/facebook-logo.png" width="30" />
                <img src="~/images/instagram-logo.jpg" width="20" />
                <img src="~/images/american-express-logo.jpg" width="30" />
                <img src="~/images/diners-club-logo.jpg" width="30" />
                <img src="~/images/maestro-logo.jpg" width="30" />
                <img src="~/images/master-card-logo.jpg" width="30" />
                <img src="~/images/visa-logo.jpg" width="30" />
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
