@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item btn my-navbar-button">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @UserManager.GetUserName(User)
            </a>
        </li>

        <li class="nav-item btn my-navbar-button">
            <form id="logoutForm" class="form-inline justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a href="#" id="logout" role="button" onclick="document.getElementById('logoutForm').submit()" class="nav-link text-dark">
                    Logout
                </a>

                <noscript>
                    <input type="submit" value="Logout" />
                </noscript>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item btn my-navbar-button">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
                Register
            </a>
        </li>

        <li class="nav-item btn my-navbar-button">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>
