<!-- Modal -->
<div class="modal fade" id="shoppingCartModal" tabindex="-1" role="dialog" aria-labelledby="shoppingCartModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shoppingCartModalTitle">Košarica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    Ukupna cijena: {{ totalPrice }} kn
                </div>
                <p></p>
                <table v-if="items.length != 0">
                    <tr>
                        <th></th>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Tip</th>
                        <th>Cijena</th>
                        <th>Količina</th>
                        <th>Veličina</th>
                    </tr>

                    <tr v-for="item in items">
                        <td>
                            <div class="deleteButton" @@click="removeArticleFromCart(item.articleId, 1, item.size)">
                                <i class="fas fa-times"></i>
                            </div>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.size }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="position: absolute; left: 2%;" @@click="clearShoppingCart()">Isprazni košaricu</button>
                <!-- do we still need Zatvori button if we have x on the top right?  -->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#finalPaymentModal" data-dismiss="modal">Plaćanje</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="finalPaymentModal" tabindex="-1" role="dialog" aria-labelledby="finalPaymentModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="finalPaymentModalTitle">Plaćanje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="inputAddress">Adresa</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Upišite adresu" v-model="address">
                </div>
                <div class="form-group">
                    <label for="inputCity">Grad</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Upišite grad" v-model="city">
                </div>
                <div class="form-group">
                    <label for="inputPostalCode">Poštanski broj</label>
                    <input type="text" class="form-control" id="inputPostalCode" placeholder="Upišite poštanski broj" v-model="postalCode">
                </div>
                <div>
                    {{ totalPrice }}
                </div>
            </div>

            <div class="modal-footer">
                {{ address }}
                {{ city }}
                {{ postalCode }}
                <button type="button" class="btn btn-primary" @@click="payment(address, city, postalCode, items)">Plati</button>
                <button type="button" class="btn btn-secondary" style="position: absolute; left: 2%;" data-toggle="modal" data-target="#shoppingCartModal" data-dismiss="modal">Vrati se u košaricu</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/shoppingCart.js"></script>