
@{
    ViewData["Title"] = "ArticleEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
</head>

<body>
    <h1>Uređivanje artikla</h1>

    <form>
        <div class="form-group">
            <label for="articleName">Ime artikla</label>
            <input type="text" class="form-control" id="articleName" aria-describedby="emailHelp" placeholder="Ime artikla kojeg uređujemo">
        </div>

        <label for="articlePrice">Cijena artikla</label>
        <div class="row form-group">
            <div class="col-sm-3">
                <input type="number" class="form-control" id="articlePrice" placeholder="Cijena artikla kojeg uređujemo">
            </div>
            <div class="col-sm">
                <label>HRK</label>
            </div>
        </div>

        <label for="articleType">Tip artikla</label>
        <div class="row form-group">
            <div class="col-sm-3">
                <input type="text" class="form-control" id="articleType" aria-describedby="emailHelp" placeholder="Tip artikla kojeg uređujemo">
            </div>
        </div>

        <div class="form-group">
            <label for="articleDescription">Opis artikla</label>
            <textarea class="form-control" id="articleDescription" rows="3" placeholder="Opis artikla kojeg uređujemo koju uređujemo"></textarea>
        </div>

        <div class="form-group">
            <div>
                <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" />
            </div>

            <div>
                <label for="articlePicture">Odaberite novu sliku artikla</label>
                <input type="file" class="form-control-file" id="articlePicture">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Primijeni</button>
    </form>
</body>
