@{
    ViewData["Title"] = "PlayerEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <!-- Ovo je ta skripta koju sam zeznuo-->
        <script src="https://cdn.jsdelivr.net/npm/v-calendar@1.0.0/lib/v-calendar.umd.min.js"></script>
    </head>

<body>
    <h1>Uređivanje igrača</h1>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Ime</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Upišite novo ime">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Prezime</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Upišite novo prezime">
        </div>

        <label>Datum rođenja</label>
        <div class="row">
            <div class="form-group">
                <label for="inputState">Dan</label>
                <select id="inputState" class="form-control">
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputState">Mjesec</label>
                <select id="inputState" class="form-control">
                    <option selected>Siječanj</option>
                    <option>Veljača</option>
                    <option>Ožujak</option>
                    <option>Travanj</option>
                    <option>Svibanj</option>
                    <option>Lipanj</option>
                    <option>Srpanj</option>
                    <option>Kolovoz</option>
                    <option>Rujan</option>
                    <option>Listopad</option>
                    <option>Studeni</option>
                    <option>Prosinac</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputState">Godina</label>
                <select id="inputState" class="form-control">
                    <option selected>
                        <script>document.write(new Date().getFullYear())</script>
                    </option>
                    <option>
                        <script>document.write(new Date().getFullYear() - 1)</script>
                    </option>
                    <option>
                        <script>document.write(new Date().getFullYear() - 2)</script>
                    </option>
                </select>
            </div>
        </div>

        <!-- Player position radio buttons -->
        <label>Odaberite poziciju:</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Bek šuter</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Centar</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Krilni centar</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Nisko krilo</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">Organizator igre</label>
        </div>
        <!----------------------------------->

        <div class="form-group">
            <label for="exampleInputEmail1">Slika</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Prenesi novu sliku">
        </div>


        <button type="submit" class="btn btn-primary">Primijeni</button>
    </form>


</body>
