@{
    ViewData["Title"] = "O klubu";
}

<div class="container" id="about" style="padding: 0;">
    <div v-for="i in 3" class="row">
        <div v-for="i in 4" class="col-lg-3 text-center" style="padding: 0; margin-right: 0px; margin-left: 0px;">
            <div class="d-inline" style="margin-right: 0px; margin-left: 0px; margin-bottom: 13px; padding: 0;">
                <img src="/images/rudes-logo.jpg" />
                <div class="tempDiv2">
                    <p class="boardInfo">Milan Ličina</p>
                </div>
                <div class="tempDiv2">
                    <p class="boardInfo" style="margin-bottom: 10px;">Trener</p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h3 style="text-align: center;">Povijest kluba</h3>
    <p>KK Rudeš djeluje u zapadnom dijelu grada Zagreba i svojom aktivnošću obuhvaća naselja Rudeš, Vrbani, Prečko, Špansko, Jarun, Voltino, Ljubljanicu i šire.</p>

    <p>Osnovani smo davne 1972. godine inicijativom košarkaških entuzijasta iz naselja Rudeš i počeli se takmičiti u nižerazrednim ligama u organizaciji KSZ-a. Dugogodišnjom animacijom košarkaškog sporta u KK Rudeš, kroz koji je prošao velik broj kvalitetnih igrača, uspjeli smo se izboriti za natjecanje u A-2 ligi i postati stabilan Klub drugoligaškog natjecanja u organizaciji KSH-a.</p>

    <p>Dolaskom nove Uprave 2008. godine posvetili smo posebnu pozornost na mlađe dobne uzraste i u vrlo kratkom vremenu postali smo jedan od respektabilnijih klubova u radu s djecom i mladeži, kako u športskom tako i u sociološkom i pedagoškom smislu.</p>

    <p>KK Rudeš ima u svom pogonu više od 200 djece predškolskog i školskog uzrasta koji se natječu u svim ligama u organizaciji KSZ-a i KSH-a kroz selekcije mini košarke, mlađih kadeta, kadeta, juniora i seniora.</p>

    <p>Posebno smo ponosni što smo osnovali mini košarkašku ligu Rudeš, koja iz godine u godinu ima sve više polaznika i sudionika mlađeg školskog uzrasta, a igra se na mini koševima uz pozornost trenera  iz čega selektivno proizlaze igrači za vlastiti kadar u Klubu.</p>

    <p>Dolaskom gosp. Nevena Spahije našeg vrhunskog trenera za potpredsjednika Kluba, naš projekt razvoja košarke u zapadnom dijelu grada Zagreba i šire, dobiva na značenju iz razloga što je naš vrsni košarkaški stručnjak prepoznao rad s mlađim dobnim uzrastima i odlučio pomoći svojim znanjem i iskustvom u organizaciji Kluba, u edukaciji trenera i športskom usavršavanju mlađih dobnih uzrasta u Klubu.</p>
</div>

<script src="~/js/about.js"></script>