@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="forPetlja">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div v-for="i in 100">
        {{ i }}
        Imaš virus!!! Čuljak patuljak smotuljak crvenkapak!!!
    </div>
</div>

<script src="~/js/index.js"></script>