<div class="container" id="login">
    <h2>
        Login
    </h2>

    <form>
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>




</div>