<div class="container" style="height: 900px; margin-top: 20px;">
    <div class="row" style="height: 500px;">
        <div class="column col-1">
        </div>
        <div class="column col-10" style="height: 900px;">
            <div class='row'>
                <div id="prvi" class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl">
                </div>
                <div class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl" />
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl" />
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark artikl'>
                    <img src="~/images/rudes-logo.jpg" alt="Rudeš Logo" class="artikl" />
                </div>
            </div>
        </div>
        <div class="column col-1">
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/css/media.css">