@{
    ViewData["Title"] = "Post";
    var post = (Post)ViewData["post"];
}

<div id="index" class="container pl-5">
    <h1 style="font-size: 25px; font-family: 'Cinzel', sans-serif; color: #A89435; font-weight: 700; margin-bottom: 20px; margin-left: 40px;">@post.Title</h1>
    <hr />
    <span style="font-family: 'Montserrat', sans-seri;
        color: #424242; font-size: 16px; margin-left: 40px;"> @post.Content </span>

    <div v-for="i in 30">&nbsp;</div>
</div>

<script src="~/js/index.js"></script>