@{
    ViewData["Title"] = "Seniori";
}

<div style="background-color: #EBEDEF;">
    <h4 style="font-size: 25px;">Seniori 2019/2020</h4>
</div>

<div>
    <img src="~/images/timska-seniori.jpg" alt="Timska slika" style="margin-bottom: 10px; min-width: 100%;" />
</div>

<div class="container" id="teams">
    <div v-for="playerGroup in groupedPlayers" class="row">
        <div v-for="player in playerGroup" class="col-4 text-center">
            <player-component :player="player"></player-component>
        </div>
    </div>
</div>

<script src="~/js/teams.js"></script>