@{
    ViewData["Title"] = "Sportske škole";
}

<div style="background-color: antiquewhite;">
    <h4 style="font-size: 20px; font-family: Arial, Helvetica, sans-serif">SportSchools</h4>
</div>

<div>
    <img src="~/images/sportske-skole.png" alt="Timska slika" style="margin-bottom: 10px;min-width: 92%;display: block;margin: 0 auto;max-width: 100%;"/>
</div>

<div style="margin-top: 20px; text-align: justify; margin-left: 43px; margin-right: 43px;">
    STOJE S LIJEVA: trener Robert Kovačev, Luka Bilić-Prcić, Petar Jokanović, Matteo Sudar, Mihovil Šunjić, Ivan Maksim Duvnjak, Marko Alešković,
    Luka Petanović, trener Edin Hadžić
</div>

<div style="margin-top: 20px; text-align: justify; margin-left: 43px; margin-right: 43px; margin-bottom: 30px;">
    SJEDE S LIJEVA: Franko Gluhović, Vito Kraljević, Sven Raić, Roko Ivanković, Ante Bubalo, Roko Matek, Ivan Martić
</div>

<div class="container" id="teams" style="padding: 0;">
    <div v-for="playerGroup in sportSchoolPlayers" class="row">
        <div v-for="player in playerGroup" class="col-lg-3 text-center" style="padding: 0; margin-right: 0px; margin-left: 0px;">
            <player-component :player="player"></player-component>
        </div>
    </div>
</div>

<script src="~/js/teams.js"></script>

