<div class="container" style="height: 900px; margin-top: 20px;">
    <div class="row" style="height: 500px;">
        <div class="column col-3 border border-dark" style="height: 900px;">
        </div>
        <div class="column col-9" style="height: 900px;">
            <div class='row'>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg"  width="213" alt="Rudeš Logo"  style="width:100%; display: block; margin-left: auto; margin-right: auto; margin-top: 10px;" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg" width="213" alt="Rudeš Logo" style="width:100%; display: block; margin-left: auto; margin-right: auto;  margin-top: 10px;" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg" width="213" alt="Rudeš Logo" style="width:100%; display: block; margin-left: auto; margin-right: auto;  margin-top: 10px;" />
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg" width="213" alt="Rudeš Logo" style="width:100%; display: block; margin-left: auto; margin-right: auto;  margin-top: 10px;" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg" width="213" alt="Rudeš Logo" style="width:100%; display: block; margin-left: auto; margin-right: auto;  margin-top: 10px;" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg" width="213" alt="Rudeš Logo" style="width:100%; display: block; margin-left: auto; margin-right: auto;  margin-top: 10px;" />
                </div>
            </div>
            <div class='row'>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg" width="213" alt="Rudeš Logo" style="width:100%; display: block; margin-left: auto; margin-right: auto;  margin-top: 10px;" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg" width="213" alt="Rudeš Logo" style="width:100%; display: block; margin-left: auto; margin-right: auto;  margin-top: 10px;" />
                </div>
                <div class='col-xs-12 col-md-4 border border-dark' style="height: 300px;">
                    <img src="~/images/rudes-logo.jpg"  width="213" alt="Rudeš Logo"  style="width:100%; display: block; margin-left: auto; margin-right: auto;  margin-top: 10px;" />
                </div>
            </div>
        </div>
    </div>
</div>

