@{
    ViewData["Title"] = "Webshop";
}
<div id="outer">
    <div class="specialdiv">
        <button onclick="myFunction()">Filteri</button>

        <div id="myDIV">
            <div class="specialdiv4">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="specialdiv4">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="specialdiv4">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </div>
            <div class="specialdiv4">
                <input type="radio">
                <input type="radio">
            </div>
            <div class="specialdiv4">
                <button>da</button>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </div>

    <div class="eqi-container">
        <div>
            <img class="productImages" src="http://jackiejacobson.com/wp-content/uploads/2011/06/Sunflower.jpg">

        </div>

        <div>
            <img class="productImages" src="http://jackiejacobson.com/wp-content/uploads/2011/06/Sunflower.jpg">
        </div>

        <div>
            <img class="productImages" src="http://jackiejacobson.com/wp-content/uploads/2011/06/Sunflower.jpg">
        </div>

        <div>
            <img class="productImages" src="http://jackiejacobson.com/wp-content/uploads/2011/06/Sunflower.jpg">
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="~/css/webshop.css">