@{
    ViewData["Title"] = "Webshop";
}

<div id="webshop">
    <div class="outerFiltersDiv">
        <div>
            <button id="buttonFilter" class="buttonStyle" onclick="myFunction()">Filteri</button>
            <button id="testButton" class="buttonStyle" onclick="console.log(webshop.allArticles[0])">Test</button>
        </div>

        <div id="myDIV" class="container-fluid">
            <div class="row allFilters">
                <div class="filtersDiv col-md-6 col-lg-3">
                    <div class="row colorFilter">
                        <div class="col-2 col-md-2 col-lg-4 check">
                            <input type="checkbox" id="cb1">
                            <label for="cb1"><img class="checkboxImage" src="https://i.imgur.com/eILu8p4.jpg"></label>
                        </div>
                        <div class="col-2 col-md-2 col-lg-4 check">
                            <input type="checkbox" id="cb2">
                            <label for="cb2"><img class="checkboxImage" src="https://www.mjt.me.uk/assets/images/smallest-png/skobbler-maps.png"></label>
                        </div>
                        <div class="col-2 col-md-2 col-lg-4 check">
                            <input type="checkbox" id="cb3">
                            <label for="cb3"><img class="checkboxImage" src="https://oconnorpg.com/wp-content/uploads/2019/05/White-Square.jpg"></label>
                        </div>
                        <div class="col-2 col-md-2 col-lg-4 check">
                            <input type="checkbox" id="cb4">
                            <label for="cb4"><img class="checkboxImage" src="https://www.iconsdb.com/icons/preview/black/square-xxl.png"></label>
                        </div>
                        <div class="col-2 col-md-2 col-lg-4 check">
                            <input type="checkbox" id="cb5">
                            <label for="cb5"><img class="checkboxImage" src="https://f-scope.net/images/square-clipart-green-square.jpg"></label>
                        </div>
                        <div class="col-2 col-md-2 col-lg-4 check">
                            <input type="checkbox" id="cb6">
                            <label for="cb6"><img class="checkboxImage" src="https://images-na.ssl-images-amazon.com/images/I/01fnVfMakPL._SY355_.png"></label>
                        </div>
                    </div>
                </div>
                <div class="filtersDiv col-md-6 col-lg-3">
                    <div class="row typesOfArticles">
                        <div class="col-12">
                            <input type="checkbox"> Hoodie<br>
                            <input type="checkbox"> T-shirt<br>
                        </div>
                    </div>
                </div>
                <div class="filtersDiv col-md-6 col-lg-3">
                    <div class="priceOfArticles">
                        <input type="radio" name="price" value="100">< 100 kn<br>
                        <input type="radio" name="price" value="200">< 200 kn<br>
                        <input type="radio" name="price" value="300">< 300 kn<br>
                    </div>
                </div>
                <div class="filtersDiv col-md-6 col-lg-3">
                    <div class="sorting">
                        <input type="radio" name="sort" value="asc">Sortiraj od najniže prema najvišoj cijeni<br>
                        <input type="radio" name="sort" value="desc">Sortiraj od najviše prema najnižoj cijeni<br>
                    </div>
                </div>
            </div>
            <div class="applyFilters">
                <button class="buttonStyle">Primijeni</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row outerArticlesDiv">

            <div class="articleDiv col-sm-12 col-md-6 col-lg-3">
                <img class="productImages" src="~/images/danica.jpeg">
                <figcaption class="articleDescription">{{allArticles[0].name}}</figcaption>
                <figcaption class="articleDescription">{{allArticles[0].description}}</figcaption>
                <figcaption class="articleDescription">{{allArticles[0].price}}</figcaption>
                <button class="buttonStyle">Dodaj u kosaricu</button>
            </div>

            <div class="articleDiv col-sm-12 col-md-6 col-lg-3">
                <img class="productImages" src="~/images/ja.jpeg">
                <figcaption class="articleDescription">{{allArticles[1].name}}</figcaption>
                <figcaption class="articleDescription">{{allArticles[1].description}}</figcaption>
                <figcaption class="articleDescription">{{allArticles[1].price}}</figcaption>
                <button class="buttonStyle">Dodaj u kosaricu</button>
            </div>

            <div class="articleDiv col-sm-12 col-md-6 col-lg-3">
                <img class="productImages" src="~/images/predsjednik.jpeg">
                <figcaption class="articleDescription">{{allArticles[2].name}}</figcaption>
                <figcaption class="articleDescription">{{allArticles[2].description}}</figcaption>
                <figcaption class="articleDescription">{{allArticles[2].price}}</figcaption>
                <button class="buttonStyle">Dodaj u kosaricu</button>
            </div>

            <div class="articleDiv col-sm-12 col-md-6 col-lg-3">
                <img class="productImages" src="~/images/skoki.jpeg">
                <figcaption class="articleDescription">{{allArticles[3].name}}</figcaption>
                <figcaption class="articleDescription">{{allArticles[3].description}}</figcaption>
                <figcaption class="articleDescription">{{allArticles[3].price}}</figcaption>
                <button class="buttonStyle">Dodaj u kosaricu</button>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="~/css/webshop.css">
<script src="~/js/webshop.js"></script>